.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 50px 0px 80px 0px; */
}

.FoodCategory {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;
  max-width: 400px;
}
