.Container {
  display: flex;
  flex-direction: column;
  margin: 50px 15px 80px 15px;
}

.FoodInfoArrowBack {
  position: absolute;
  padding-left: 10px;
  padding-top: 4px;
}

.FoodInfoDescriptionWrapper {
  padding-bottom: 40px;
}

.FoodInfoOrderButton {
  bottom: 80px;
}
