.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px 80px 0px;
}

.TypeLogo {
  width: 100%;
  height: 130px;
  background-color: #c4c4c4;
}

.Title {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  margin: 25px 0px;
}

.Item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 5px 0px;
}

.Name {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
}

.Date {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #75787b;
}

.Price {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;

  color: #c12929;
}
