  .flex-container{
      display: flex;
      flex-direction: column;
      position: relative;
      top: 50px;
      width: 100%;
      height: 100%;
  }
  .type-logo {
      top: 0px;
      position: relative;
      display: flex;
      width: 100%;
  }

  .check {
    margin: 15px;
  }

  .checkHeaderText {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    margin: 15px;
    margin-bottom: 0px;
  }

  .Item {
      width: 100%;
      margin: 15px;
  }

  .ItemName {
    position: relative;
    width: 85%;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    vertical-align: top;
  }

  .ItemCost {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    
    color: #C12929;
  }

  .item-pic {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: #C4C4C4;
  }

  .CheckOut{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }


  .checkoutButton {
    position: relative;
    padding: 15px;
    top: 50%;
    width: 80%;
    height: 100%;
    border: none;
    background: #FDBB0A;
  }

  .buttonText {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    color: black;
  }