.wrapper {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    width: 200%;
    bottom: 0px;
    margin: 10px;
}


.button {
    
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: #FDBB0A;
    border: 0;
    width: 100%;

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    padding: 0px;
}