.Item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding: 10px 5px;
}

.ItemName {
  display: flex;
  flex-direction: row;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.ItemQuant {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #75787b;
  margin-left: 5px;
}

.ItemPic {
  width: 60px;
  height: 60px;
  background: #c4c4c4;
  border-radius: 10px;
}

.ItemPrice {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  vertical-align: top;
  top: 0px;
  color: #c12929;
}
