.item {
    margin-bottom: 10px;
}

.itemName {
    display: flex;
    width: 180px;
    height: 26px;
    left: 27px;
    top: 273px;

    margin-block-start: 0px;
    margin-block-end: 0px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
  }

.itemQuant {
    margin-left: 2%;
    display: flex;
    bottom: 0px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #75787B;
}

.itemPic {
    position: absolute;
    display: flex;
    width: 60px;
    height: 60px;
    left: 180%;
    background: #C4C4C4;
    border-radius: 10px;
  }

 .itemPrice {
    display: flex;
    position: relative;

    margin-block-start: 0px;
    margin-block-end: 0px;
    width: 64px;
    height: 26px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    vertical-align: top;
    top: 0px;
    color: #C12929;
 } 
