.Container {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 230px;
  bottom: 70px;
  margin: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.button {
  align-items: center;
  justify-content: center;
  background: #fdbb0a;
  width: 150px;
  height: 80px;

  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  padding: 0px;
}
