.Footer {
  position: fixed;

  display: flex;
  flex-flow: row;
  justify-content: space-around;

  width: 100%;
  height: 50px;
  left: 0px;
  bottom: 0px;
  background: #FAAA13;
}

.FooterLink {
  text-decoration: none !important;
  text-align: center;
}

.FootText {
  margin-top: -4px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  color: rgba(0, 0, 0, 0.54);
}