.TopHeader {
  display: flex;
  position: absolute;
  background-color: #1A1F71;
  height: 50px;
  width: 100%;
  left: 0px;
  top: 0px;
}


.TopText {
  display: flex;
  position: absolute;
  left: 50%;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 31px;

  color:  #FFFFFF;
}