.Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 20px 0px;
}

.Name {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

.Description {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  color: #75787b;
  margin-bottom: 5px;
  max-width: 70%;
}

.PriceCal {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  margin-bottom: 5px;

  color: #000000;
}

.TextContainer {
  display: flex;
  flex-direction: column;
  max-width: 280px;
}

.ImageContainer {
  display: flex;
  width: 60px;
  align-items: center;
}

/* Where should this img should be, need help to fix*/
.ItemPic {
  width: 60px;
  height: 60px;
  border-radius: 10px;

  object-fit: cover;
}
