.Name{
  width: 159px;
  height: 26px;
  left: 27px;
  top: 278px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.Description{
  width: 265px;
  height: 19px;
  left: 27px;
  top: 307px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  color: #75787B;

}

.PriceCal{
  width: 141px;
  height: 19px;
  left: 27px;
  top: 329px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */


  color: #000000;
}

/* Where should this img should be, need help to fix*/
.ItemPic{
  display: flex;
  position: absolute;
  
  width: 60px;
  height: 60px;
  left: 180%;
  background: #C4C4C4;
  border-radius: 10px;
  /* display:inline; */
  /* white-space:nowrap; */
  
}
