.TypeLogo {
  display: flex;

  position: relative;
  width: 100%;
  height: 159px;
  left: 0px;
  top: 50px;

  background-color:#C4C4C4
}

/* CSS For Menu Body */
.Menu{
  display: flex;
 
  position: absolute;
  width: 100%;
  left: 0px;
  top: 209px;
}

/* CSS For Font and Position of Subtitle "Menu" */
.SubText{
  display: flex;
  position: relative;
  left: 15px;
  top: 18px;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  
  color: #000000;
}

/* For Font and position Menutems in the mune */
.MenuItems{
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  width: 40%;
  /* height: 26px; */
  left: 27px;
  top: 69px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;

  color: #000000;
}